{% extends 'myapp/base.html' %}

{% block body %}
    <div class="px-5 mt-10 flex">
        <img class="w-full h-64 object-cover rounded-lg" src="{{item.item_image}}" alt="">

    </div>
    <div class="mx-16 space-y-5">
        <div class="font-bold text-4xl">{{ item.item_name }}</div>
         <div class="text-green-500 font-semibold">R${{ item.item_price }}</div>
        <div>{{ item.item_desc }}</div>

        <div class="space-x-6">
            <a class="bg-yellow-500 px-4 py-2 rounded-md font bold text-white hover:bg-yellow-600"
            href="">
                Edit
            </a>
            <a class="bg-red-500 px-4 py-2 rounded-md font bold text-white hover:bg-red-600"
            href="">
                Delete
            </a>
        </div>
    </div>
{% endblock body %}